{% extends 'template_base.html' %} 
{% block title %}List Chat Pasien{% endblock %} 
{% block content %}


<!-- {{ pasien }} -->

<!-- {% if pasien %}


    {% for i in pasien %}


        <a href="{{ url_for('bp_chat.content_private_chat',userId = i[0]) }}">
            <div class="card">
                <div class="card-header">
                {{ i[7] }}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{i[1]}}</h5>
                <p class="card-text">{{i[4]}}</p>
                </div>
            </div>
        </a>

  {% endfor %}

{% endif %} -->


{% if pasien %}
<div id="view"> 

    
    <div class="container masthead">
        <h1 class="text-center mb-4">List Chat Patient</h1>
        {% for i in pasien %}
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 mb-4">
                <a href="{{ url_for('bp_chat.content_private_chat',userId = i[0]) }}" style="text-decoration: none;">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        {{i[1]}}</div>
                                    <div class="h5 mb-0 font-weight-bold ">{{i[4]}}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-user-pen fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endif %}


{% endblock %}