{% extends 'template_base.html' %} 
{% block title %}Private Chat{% endblock %} 
{% block content %}

<div id="view"> 
{% if array_chat %}
    {% for i in array_chat %}
        <div class="row justify-content-center">
            
                {% if i[1] == session['userId'] %}
                <div class="cardChat shadow-lg" style="background-color: white; ">
                    <p>{{ i[3] }}</p>
                    <span class="time-left" >{{ i[5] }}</span>
                </div>
                {% else %}
                <div class="cardChat shadow-lg" style="background-color: #ddd; " >
                <div class="time-right" >
                    <p>{{ i[3] }}</p>
                    <span class="">{{ i[5] }}</span>
                </div>
                
                
                </div>
                {% endif %}
            </div>
        </div>   
    {% endfor %}
{% endif %}


<div class="wrappagination" >
{% if session['role'] == user %}
    <div class="chatbox-area">
        <form action="/send" method="post">
            <textarea placeholder="Talk to me!" class="chatbox" name="chat" id="chat" resize: "none" minlength="2"></textarea>
            <input class="submit-button" type="submit" value="send">
        </form>
    </div>
{% else %}
<div class="chatbox-area">
    <form action="{{ url_for('bp_chat.content_send_chat',user= user) }}" method="post">
        <div class="boxWriteChat ">
            <div class="row justify-content-center">
                <textarea placeholder="Talk to me!" class="chatbox m-3" name="chat" id="chat" resize: "none" minlength="2"></textarea>
                <input class="submit-button btnSendChat m-3" type="submit" value="SEND">
            </div>
            
        </div>
        
    </form>
</div>
{% endif %}
</div>
{% endblock %}

</div>