{% extends 'template_base.html' %} 
{% block title %}Add Symptomps{% endblock %} 
{% block content %}

<article>
  <div class="container masthead">
    <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
      <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 10px;">
        <div class="p-5">
          <div class="text-center">
            <h4 class="text-dark mb-4">NEW SYMPTOMPS</h4>
          </div>
          <form class="user" action="add_gejala" enctype="multipart/form-data" method="post">
            <div class="form-floating mb-3"><input class="form-control form-control-user" type="text" name="name" id="name" placeholder="Name of Symptoms"
                required />
                <label for="name">Input Name of Symptoms</label>
              </div>
            <div class="form-floating mb-3"><input class="form-control form-control-user" type="text" id="pertanyaan" name="pertanyaan"
                placeholder="Question for user" required />
                <label for="pertanyaan">Input Question for user</label>
              </div>
            <div class="row mb-3">
              <p id="emailErrorMsg" class="text-danger" style="display: none;">Paragraph</p>
              <p id="passwordErrorMsg" class="text-danger" style="display: none;">Paragraph</p>
            </div><button id="submitBtn" class="btn btn-primary d-block btn-user w-100" type="submit">Add Symptoms</button>
            <hr />
          </form>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}