{% extends 'template_base.html' %} 
{% block title %}List User{% endblock %} 
{% block content %}



    <div id="view"> 
        <div class="container"> 
          <!-- row 01 -->
          <div class="row justify-content-center">
      
              <table class="tableDisease mt-4">
                  <thead>
                    <tr>
                      <th>NO</th>
                      <th>NAMA PENYAKIT</th>
                      <th>LEVEL</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in list_user %}
                      <tr>
                        <td>{{ loop.index}}</td>
                        <td>{{ i[1] }}</td>
                        <td>{{ i[0] }}</td>
                        <td><a href="{{ url_for('bp_profile.delete_penyakit',penyakitId = i[0]) }}" class="btn btn-danger">DELETE</a></td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>   
        </div>
    </div>  

{% endblock %}