{% extends 'template_base.html' %} 
{% block title %}Login - Pardoc{% endblock %} 
{% block content %}

<article>

  <div class="container mb-5">

  
  <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
    <div class="col-sm-10 col-lg-8 bg-white shadow-lg" style="border-radius: 5px;">
      <div class="p-5">
        <div class="text-center">
          <h4 class="text-dark mb-4">REGISTER</h4>
        </div>
        <div class="text-center">
          <p class="fw-semibold">before we starts , let's register first</p>
        </div>
        <form class="user" action="register-users" enctype="multipart/form-data" method="post">
          <div class="mb-3"><input class="form-control form-control-user" type="text" name="name" id="name" placeholder="Username"
              required /></div>
          <div class="mb-3"><input id="email" class="form-control form-control-user" type="email" name="email"
              placeholder="Email Address" required /></div>
          <div class="row mb-3">
            <div class="col-sm-6 mb-3 mb-sm-0"><input id="psw" class="form-control form-control-user"
                type="password" placeholder="Password" name="psw" required /></div>
            <div class="col-sm-6"><input id="psw-repeat" class="form-control form-control-user" type="password"
                placeholder="Repeat Password" name="psw-repeat" required /></div>
          </div>
          <div class="mb-3">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <section class="testimonials">
                <div class="row">
                    <div class="large-12 large-centered column">
                    <span>
                    {% for message in messages %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ message }}
                    </div>
                    
                    {% endfor %}
                    </span><p></p>
                </div>
                </div>
                </section>
                {% endif %}
                {% endwith %}


          </div>
          <div class="row mb-3">
            <p id="emailErrorMsg" class="text-danger" style="display: none;">Paragraph</p>
            <p id="passwordErrorMsg" class="text-danger" style="display: none;">Paragraph</p>
          </div><button id="submitBtn" class="btn btn-primary d-block btn-user w-100" type="submit" style="background-color:#198754; border-color:#198754;">Register
            Account</button>
          <hr />
        </form>
        <div class="text-center"><a class="small" href="{{ url_for('bp_login.login') }}" style="color:#1a252f;">Already have an account? Login!</a></div>
   
      </div>
    </div>
  </div>
</div>

</article>

   




{% endblock %}
