<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen" /> 
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" ></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>

</head>

<body id="home">
       <header id="head">
        {% if session['google_login'] %}
        <nav class="navbar navbar-expand-lg" style="background-color: #F87474;">
            <div class="container-fluid d-flex justify-content-between"> 
                <a class="nav-link" href="/home"><h3 style="color:#F9F2ED" >PARDOC</h3></a>

                <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#F9F2ED">
                          {{session.name}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="/list_history">History</a></li>
                          <li><a class="dropdown-item" href="/user-profile">Update Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        {%else%}
        <nav >
            <div class="container-fluid"> 
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="/home" style="color: #F87474; padding-top: 50px;"><h3>PARDOC</h3></a></li>
                </ul>
            </div>
        </nav>
        {%endif%}
    </header>

    {% block content %}{% endblock %}

    <footer class="footerDefault text-center">
        <div class="container text-muted py-4 py-lg-5">
            <p class="mb-0">Copyright © 2022 Binus</p>
        </div>
    </footer>

    <!-- <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
      </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>